/* *, *:before, *:after {
    box-sizing: border-box;
  }
    */
 
 body {
    font-family: 'Raleway', sans-serif;
    border: 2px solid;
  
}
#nav{
    padding-left: 175px;
    margin-top: 10px;
}
button{
   
    width: 157.27px;
    height: 64px;
   
  
    
    background: #606060;
    border-radius: 14px;
  

}



.card{
    background-color: #da1e5d;
    width: 1500px;
    height: 150px;
   
    top: 173px;
    border-radius: 14px;
  
   
}
#container{
    padding-left: 170px;
}


h2{
 color: white;
 text-align: center;
 padding-top: 61px;

}

/* layout2 */

 #grid-container{
    display: grid;
    padding-top: 20px;
    border-radius: 14px;
    
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-row-gap: 20px;
    
   

   

} 
 #grid-container > div {
    width: 500px;
    height: 300px;
    border-radius: 14px;
    background-color: #da1e5d;
   

  
  } 






:root {
    --light-grey: #e0e0e0;
    --dark-grey: #606060;
    --red-bg: #da1e5d;
}



